<section class="page-title-area item-bg2">
    <div class="container">
        <h2>{{article.title}}</h2>
    </div>
</section>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">                              
                <div id="comments" class="comments-area">
                    <ol class="comment-list">
                        <li class="comment">
                            <article class="comment-body" style="margin:10px">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="{{comentario.authorComment.imageProfile}}" alt="image" class="avatar">
                                        <b class="fn">{{comentario.authorComment.username}}</b>
                                        <span class="says">says:</span>
                                    </div>                                    
                                </footer>
                                <div class="comment-content">
                                    <p>{{comentario.contenido}}</p>
                                </div>                               
                            </article>                            
                        </li>                        
                    </ol>
                    <div id="respond" class="comment-respond">
                        <h3 class="comment-reply-title">Leave a Reply</h3>
                        <form (ngSubmit)="onFormSubmitAnswer()" id="commentform" class="comment-form">
                            <p class="comment-notes">Your email address will not be published.</p>
                            <p class="comment-form-comment">
                                <textarea id="comment" placeholder="Comment" cols="45" rows="4" name="contenido" [(ngModel)]="model.contenido"></textarea>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" placeholder="Name" type="text"  name="username" [(ngModel)]="model.username">
                            </p>
                            <p class="comment-form-email">
                                <input id="email" placeholder="Email"  type="text"  name="email" [(ngModel)]="model.email">
                            </p>                            
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar">                   
                    <div class="widget widget_categories">
                        <h3 class="widget-title">
                            Categorias
                        </h3>
                        <div *ngFor="let category of categories">
                            <ul>
                                <li><a href="category/{{category.slug}}">{{category.name}} ({{category.totalArticles}})</a></li>                            
                            </ul>
                        </div>
                    </div>                    
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">
                            Tags
                        </h3>
                        <div class="tagcloud" *ngFor="let tags of tagsRandom">
                            <a href="tag/{{tags.slug}}" style="color:#828893">{{tags.name}}</a>                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>