<section class="page-title-area item-bg2">
    <div class="container">
        <h2>Juan Francisco Fernández Herreros</h2>
    </div>
</section>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <app-list-articles></app-list-articles> 
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <form >
                            <input type="text" class="form-control" placeholder="Search here...">
                            <button><i class="icofont-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">
                            Categorias
                        </h3>
                        <div *ngFor="let category of categories">
                            <ul>
                                <li><a href="/category-details/{{category.slug}}">{{category.name}} ({{category.totalArticles}})</a></li>                            
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget_recent_entries">
                        <h3 class="widget-title">
                            Articles
                        </h3>
                            <ul>
                                <div *ngFor="let article of articlesRandom" style="margin-top: 20px;">
                                <li>
                                        <a routerLink="/blog-details/{{article.slug}}">
                                            <img src="https://avurn-ng.envytheme.com/assets/img/blog1.jpg" alt="image">
                                        </a>
                                        <h5><a routerLink="/blog-details/{{article.slug}}">{{article.title}}</a></h5>
                                        <p class="date">{{article.createdDate}}</p>
                                </li>  
                                </div>                         
                            </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">
                            Tags
                        </h3>
                        <div class="tagcloud" *ngFor="let tags of tagsRandom">
                            <a routerLink="/tags-details/{{tags.slug}}" style="color:#828893">{{tags.name}}</a>                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>