name: Build Angular App and Deploy on Firebase
on:
  push:
    branches:
      - develop
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Dependencies
        run: npm install      
      - name: Build
        run: ng build --prod
      - name: Deploy to Firebase
        run: firebase deploy        