<section class="page-title-area item-bg2">
    <div class="container">
        <h2>{{article.title}}</h2>
    </div>
</section>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details">
                    <div class="post-image">
                        <img src="{{article.mainImage}}" alt="image">
                    </div>
                    <h3>{{article.title}}</h3>
                    <div class="blog-meta">
                        <ul>                                                      
                            <li><i class="icofont-ui-user"></i> <a href="user/{{article.user.username}}">{{article.user.username}}</a></li>
                            <li><i class="icofont-clock-time"></i> {{article.createdDate}}</li>
                            <li><i class="icofont-comment"></i> <a>{{article.totalComments}} Comments</a></li>                            
                        </ul>
                    </div>
                    
                    <p>{{article.content}}</p>                   
                </div>
                <div class="post-tag-media">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-6 col-md-7">
                            <ul class="tag">
                                <li><span>Tags:</span></li>
                                <p>
                                <div *ngFor="let tag of article.tags">
                                    <li><i class="icofont-ui-folder"></i> <a> {{tag.name}} </a></li> 
                               </div>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <ul class="tag">
                                <li><span>Category:</span></li>
                                <p>
                                <div *ngFor="let category of article.categories">
                                    <li><i class="icofont-ui-folder"></i> <a> {{category.name}} </a></li> 
                               </div>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="comments" class="comments-area">
                    <h2 class="comments-title">{{article.totalComments}} Comments</h2>
                    <ol class="comment-list" *ngFor="let comentario of article.comentarios">
                        <li class="comment">
                            <article class="comment-body" style="margin:10px">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="{{comentario.authorComment.imageProfile}}" alt="image" class="avatar">
                                        <b class="fn">{{comentario.authorComment.username}}</b>
                                        <span class="says">says:</span>
                                    </div>
                                    <div class="comment-metadata">
                                        <a href="#">
                                            {{comentario.createdDate}}
                                        </a>
                                    </div>
                                </footer>
                                <div class="comment-content">
                                    <p>{{comentario.contenido}}</p>
                                </div>
                                <div class="reply">
                                    <a href="#" rel="nofollow" class="comment-reply-link">Reply</a>
                                </div>
                            </article>                            
                        </li>                        
                    </ol>
                    <div id="respond" class="comment-respond">
                        <h3 class="comment-reply-title">Leave a Reply</h3>
                        <form (ngSubmit)="onFormSubmitComment()" id="commentform" class="comment-form">
                            <p class="comment-notes">Your email address will not be published.</p>
                            <p class="comment-form-comment">
                                <textarea id="comment" placeholder="Comment" cols="45" rows="4" name="contenido" [(ngModel)]="model.contenido"></textarea>
                            </p>
                            <p class="comment-form-author">
                                <input id="author" placeholder="Name" type="text"  name="username" [(ngModel)]="model.username">
                            </p>
                            <p class="comment-form-email">
                                <input id="email" placeholder="Email"  type="text"  name="email" [(ngModel)]="model.email">
                            </p>                            
                            <p class="form-submit">
                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <form [formGroup]="searchTitle" (ngSubmit)="onFormSubmitTitle()">
                            <input type="text" class="form-control" formControlName="name" placeholder="Search here..." ng-minlength="1º" required>
                            <button type="submit"><i class="icofont-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">
                            Categorias
                        </h3>
                        <div *ngFor="let category of categories">
                            <ul>
                                <li><a href="category/{{category.slug}}">{{category.name}} ({{category.totalArticles}})</a></li>                            
                            </ul>
                        </div>
                    </div>                    
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">
                            Tags
                        </h3>
                        <div class="tagcloud" *ngFor="let tags of tagsRandom">
                            <a href="tag/{{tags.slug}}" style="color:#828893">{{tags.name}}</a>                        
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>